*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    background-position-y: center;
    background-size: cover;
}
main section:nth-of-type(even){
    background-color: rgb(231, 231, 231);
}
footer{
    background-color: rgb(22, 22, 36);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-size: 50px;
}
.container{
    width: 980px;
    margin: auto;
}
.container_hero{
    padding: 30px 0; 
}
.container_main{
    padding: 130px 0;
}
.container_footer{
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* queste classi (consigliate da Florian) servono a rispettare determinati ratei di dimensioni per tutta la pagina web */
[class*="col-"]{
    float: left;
}
.col-1_6{
    width: calc(100% / 6);
}
.col-2_6{
    width: calc(100% / 6 * 2);
}
.col-4_6{
    width: calc(100% / 6 * 4);
}

nav div:first-child img{
    padding: 5px;
}
/* qui faccio lo stile dei link della barra di navigazione  */
.nav_bar ul{
    text-align: center;
}
.nav_bar ul li{
    display: inline-block;
    padding: 10px;
}
.nav_bar ul li a{
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.nav_bar ul li a:hover{
    background-color: rgba(0, 0, 0, .2);
}
/* bottoni */
.button{
    border-radius: 30px;
    padding: 10px 25px;
}
.login_button{
    background-color: white;
    display: inline-block;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;  
}
nav div:last-child{
    text-align: right;
}
.download_button{
    background-color: white;
    font-weight: 500;
}

.open_button{
    background-color: rgb(22, 22, 36);
    font-weight: 500;
    color: white;
    margin-left: 20px;
}
/* qui centro il testo, faccio gli stili e bottoni all'interno della hero*/
.hero_center{
    text-align: center;
    float: none;
    margin: auto;
    padding: 100px 0;
}
.hero_center h1{
    color: white;
}
.hero_center p{
    font-size: 20px;
    padding: 20px;
    color: white;
}

/* qui creo le sezioni del main */
main div .container_main{
    padding: 50px;
}
.image img{
    object-fit: cover;
    width: 90%;
}
.container_main h2{
    font-size: 45px;
    padding: 20px 0;
    line-height: 55px;
}
.container_main p {
    font-size: 18px;
}

/* qui modifico l'ultima sezione */
main section:last-child .text_section{
    padding: 0 45px;
}
main section:last-child .image img{
    width: 110%;
}
section:last-of-type .container_main{
    text-align: center;
}
section:last-of-type .download_button{
    background-color: rgb(106, 71, 161);
    color: white;
    display: inline-block;
}
section:last-of-type img:last-of-type{/* posiziono le stelline */
    position: relative;
    top: 35px;
}
section:last-of-type h3{
    font-size: 30px;
}
